html {
    --bg: #ffffff;
    --color-text: #000000;
    --color-subtext: #ffffff;
    --bg-card: #f8f8ff;
    --bg-panel: #ffa500;
    --text-second: #808080;
    --menu-mobile: #ffffff;
    --shadow-title: #ffffff;;
}

body {
    font-size: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--bg);

    grid-template-areas: 
        "title switch"
        "content content"
    ;

    min-width: 800px;
}