
.header-first {
    background: #000000;
}

.header-container {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 980px;
  padding: 12px 0px;
  margin: auto;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search img {
    width: 18px;
    height: 18px;
}

.search button {
    width: 30px;
    height: 30px;
    border: none;
}

.search button:hover {
    cursor: pointer;
}

.search button img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.header-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    max-width: 980px;
    padding: 12px 0px;
    margin: auto;
}

.header-second h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-text);
}

.header-second nav ul {
  display: flex;
}

.header-second ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.header-second nav ul li {
  list-style: none;
}

.header-second nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 12px; 
  padding: 20px;
  transition: all 250ms linear 0s;
}

.header-second button {
    border-radius: 50px;
    border: none;
    background: #000000;
    color: #ffffff;
    width: 80px;
    height: 35px;
    font-size: 12px;
}

.header-second button:hover {
    cursor: pointer;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}

.toggle:hover {
    cursor: pointer;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--bg-toggle);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

.switch-dark-theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}


@media only screen and (max-width: 950px) {
    .header-container {
        width: 90%;
        font-size: 10px;

    }

    .header-second {
        width: 90%;
        font-size: 12px;

    }

    .header-second nav ul li a {
        padding: 8px;
        font-size: 12px;
    }
}

@media (max-width: 850px) {
    .header-container {
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

    .header-second-container {
        background: var(--menu-mobile);
    }

    .header-second {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    nav {
      display: none;
    }

    .one,
    .two,
    .three {
      background-color: var(--color-text);
      height: 5px;
      width: 100%;
      margin: 6px auto;

      transition-duration: 0.3s;
    }

    .menu-toggle {
      width: 40px;
      height: 30px;
      margin-right: 20px;
    }

  /* fullscreen */
  .menu-section.on {
      position: absolute;
      top:0;
      left:0;
      
      width: 100vw;
      height: 100vh;

      background-color: var(--menu-mobile);
      
      z-index: 10;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .menu-section.on nav {
      display: block;
  }

  .menu-section.on .menu-toggle {
      position: absolute;
      right: 25px;
      top: 15px;
  }

  .menu-section.on .menu-toggle .one {
      transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
      opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
      transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
      text-align: center;
      display: block;
  }

  .menu-section.on nav ul a{
      transition-duration: 0.5s;
      font-size: 3rem;
      line-height: 4rem;
      display: block;
      
  }

}
