
.propaganda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 95px 70px 25px;
    text-align: center;
    color: var(--color-text);
}

.propaganda h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.propaganda p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

@media only screen and (max-width: 400px) {
    .propaganda h2 {
        font-size: 28px;
    }
}